<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9" id="course-summary">
            <strong>Course Summary</strong>
            <p> {{ site.data.course.summary }} </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div id="course-resources">
            <span>
                <a href="{{ site.data.course.resources.paper-home }}" target="_blank" class="btn btn-outline-primary btn-sm resource-item" role="button">
                    <i class="fas fa-link" aria-hidden="true"></i> Project
                </a>
            </span>

            <span>
                <a href="{{ site.data.course.resources.pdf }}" target="_blank" class="btn btn-outline-primary btn-sm resource-item" role="button">
                    <i class="far fa-file-pdf" aria-hidden="true"></i> Paper
                </a>
            </span>

            <span>
                <a href="{{ site.data.course.resources.github }}" target="_blank" class="btn btn-outline-primary btn-sm resource-item" role="button">
                    <i class="fas fa-code" aria-hidden="true"></i> Code
                </a>
            </span>

            <span>
                <a href="{{ site.data.course.resources.youtube }}" target="_blank" class="btn btn-outline-primary btn-sm resource-item" role="button">
                    <i class="fas fa-film" aria-hidden="true"></i> Video
                </a>
            </span>
        </div>
    </div>
</div>