body {
    background-color: #fafbfe;
    margin-bottom: 4rem;
}

#prereqs {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #7800ff;
    color: white;
}

#prereqs > ul {
    margin-bottom: 0rem;
}

#course-summary {
    padding: 2rem;
    text-align: justify;
}

.row.module {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #7800ff;
    border-radius: 0.5rem;
    background-color: white;
}

.module-icon {
    max-width: 100%;
}

.module-brand, .module-venue {
    display: inline;
}

.module-venue {
    color: #bcb9b9;
}

.popover {
    max-width: none;
}